@page
@model WebWedding.AdminPregledOrganizatoraModel
@{
    ViewData["Title"] = "AdminPregledOrganizatora";
    Layout = "_Layout_Admin";
}

    <input type="hidden" id="adminID" asp-for="@Model.AdminID">
    <div style="display:flex; justify-content:center">
        <h1 style="color:lightcoral">Pregled organizatora</h1>
    </div>

<p>
    <a asp-page="AdminDodajOrganizatora">Dodaj novog organizatora</a>
</p>
<div class="table-responsive text-nowrap">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Organizator[0].Ime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organizator[0].Prezime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organizator[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organizator[0].Sifra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organizator[0].Plata)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Organizator)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sifra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plata)
                    </td>
                    <td>
                        <a asp-page="./AdminIzmeniOrganizatora" asp-route-id="@item.Id">Izmeni</a> |
                        <a asp-page="./AdminArhivirajOrganizatora" asp-route-id="@item.Id">Arhiviraj</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

